/*------------------------------------*\
    # Button
\*------------------------------------*/

.button {
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    padding: $m-size;
    background: $blue;
    color: $off-blue;
    box-shadow: 0 .3rem .6rem rgba( 0, 0, 0, 0.16 ), 0 .3rem .6rem rgba( 0, 0, 0, 0.23 );

    transition: all 200ms ease-in-out;

    &:hover,
    &:focus {
        background: darken( $blue, 15% );
    }
}

.button--link {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: $m-size;
    color: $gray;

    &:hover,
    &:focus {
        background: none;
        color: darken( $gray, 15% );
    }
}