/*------------------------------------*\
    # Base
\*------------------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, * {
    box-sizing: inherit;
}

::selection {
    background: $blue;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $m-size;
    background: $off-blue;
    color: $white;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.app-body {
    display: flex;
    justify-content: space-between;
    margin: $l-size 0 $l-size 0;
    padding: $l-size 0;
    
    align-items: flex-start;
    align-content: flex-start;
}

@media ( min-width: $desktop-breakpoint ) {
    .app-body {
        align-items: center;
    }
}